<%= form_for(@point, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>

  <div class="btn-group btn-group-justified">
    <a href="#TODO" class="btn btn-success active">
      <%= image_tag "pin-recycle-bin.png", :alt => "recycle bin icon" %>
      Pubele
    </a>
    <a href="#TODO" class="btn btn-success">
      <%= image_tag "pin-recycling-center.png", :alt => "recycling center icon" %>
      Centru
    </a>
    <a href="#TODO" class="btn btn-success">
      <%= image_tag "pin-store.png", :alt => "store icon" %>
      Magazin
    </a>
  </div>

  <div class="alert alert-success hidden">
    <strong>Uhuu!</strong> Noua locație a fost adăugată.
  </div>

  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point.errors.count, "error") %> prohibited this point from being saved:</h2>
      <ul>
      <% @point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <%= f.hidden_field :point_type %>

  <div class="form-group">
    <label for="address" class="col-lg-3 control-label">Locație <span class="required">*</span></label>
    <div class="col-lg-9">
      <input type="text" class="form-control" id="address" placeholder="Str. Spiridușilor Nr. 7">
      <p class="help-block">Clickăie harta sau <a href="#TODO">detectează</a> locația curentă</p>
    </div>
  </div>

  <div class="form-group">
    <label for="materials" class="col-lg-3 control-label">Materiale <span class="required">*</span></label>
    <div class="col-lg-9">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Hârtie
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Plastic
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Metal
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Sticlă
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other, "Altele", :class => "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :other, :class => "form-control", :placeholder => "Baterii, Telefoane, etc." %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Nume locație", :class => "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :name, :class => "form-control", :placeholder => "SC Colectare SA" %>
    </div>
  </div>

  <div class="form-group">
    <label for="schedule" class="col-lg-3 control-label">Program</label>
    <div class="col-lg-3">
      <%= f.text_field :schedule_week, :class => "form-control", :placeholder => "Luni-Vineri" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :schedule_sat, :class => "form-control", :placeholder => "Sâmbătă" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :schedule_sun, :class => "form-control", :placeholder => "Sâmbătă" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :website, "Website", :class => "col-lg-3 control-label" %>
    <div class="col-lg-9">
      <%= f.text_field :website, :class => "form-control", :placeholder => "www.colectare.ro" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <button name="commit" type="submit" class="btn btn-success">Adaugă</button>
    </div>
  </div>

<% end %>