<%= render "map" %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 blurb">
      <h2 class="brand">reciclopedia.ro</h2>
      <p>Harta punctelor de reciclare la care oricine poate contribui.</p>
      <p>Fie că vrei să <%= link_to "găsești", map_path %> un punct de colectare sau să <%= link_to "adaugi", add_path %> unul pe hartă, ai ajuns unde trebuie :)</p>
      <h4>Legenda</h4>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag "tree-numbered.png", :alt => "tree icon" %></td>
            <td>Zonă cu 5 locații de reciclare</td>
          </tr>
          <tr>
            <td><%= image_tag "pin-recycle-bin.png", :alt => "recycle bin icon" %></td>
            <td>Pubele reciclare</td>
          </tr>
          <tr>
            <td><%= image_tag "pin-recycling-center.png", :alt => "recycling center icon" %></td>
            <td>Centru colectare</td>
          </tr>
          <tr>
            <td><%= image_tag "pin-store.png", :alt => "store icon" %></td>
            <td>Magazin</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-8">
      <div id="map-canvas" class="map-index"></div>
    </div>
  </div>
</div>