<!doctype html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <title>reciclopedia.ro<%= @page_name %></title>
    <meta name="description" content="<%= @page_description %>">
    <meta property="og:image" content="<%= URI.join(root_url, asset_path("social-pic.png")) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="g4b1nagy">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=latin,latin-ext" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB23Zxt4p-uThsKQgIY5P5RZ7nZKHGiOz4&sensor=true&language=ro" %>
    <script id="template" type="text/x-handlebars-template">
      <div id="infowindow">
        <div class="list-group">
          {{#if name}}
            <a href="{{website}}" target="_blank" class="list-group-item active">
              <h5 class="list-group-item-heading">{{name}}</h5>
            </a>
          {{else}}
            <a class="list-group-item active">
              <h5 class="list-group-item-heading">Pubele reciclare</h5>
            </a>
          {{/if}}
          {{#if paper}}
            <a class="list-group-item">
              <p class="list-group-item-text">
                <%= image_tag "icon-file.png", :alt => "material icon" %> Hârtie
              </p>
            </a>
          {{/if}}
          {{#if plastic}}
            <a class="list-group-item">
              <p class="list-group-item-text">
                <%= image_tag "icon-cup.png", :alt => "material icon" %> Plastic
              </p>
            </a>
          {{/if}}
          {{#if metal}}
            <a class="list-group-item">
              <p class="list-group-item-text">
                <%= image_tag "icon-magnet.png", :alt => "material icon" %> Metal
              </p>
            </a>
          {{/if}}
          {{#if glass}}
            <a class="list-group-item">
              <p class="list-group-item-text">
                <%= image_tag "icon-beaker.png", :alt => "material icon" %> Sticlă
              </p>
            </a>
          {{/if}}
          {{#if other}}
            <a class="list-group-item">
              <p class="list-group-item-text">
                <%= image_tag "icon-check.png", :alt => "material icon" %> {{other}}
              </p>
            </a>
          {{/if}}
          {{#if schedule_week}}
            <a class="list-group-item">
              <p class="list-group-item-text">
                <span class="pull-left">Luni - Vinerii</span>
                <span>{{schedule_week}}</span>
              </p>
              {{#if schedule_sat}}
                <p class="list-group-item-text">
                  <span class="pull-left">Sâmbătă</span>
                  <span>{{schedule_sat}}</span>
                </p>
              {{/if}}
              {{#if schedule_sun}}
                <p class="list-group-item-text">
                  <span class="pull-left">Duminică</span>
                  <span>{{schedule_sun}}</span>
                </p>
              {{/if}}
            </a>
          {{/if}}
        </div>
        <button id="report" type="button" class="btn btn-success btn-sm" data-point-id="{{id}}">Raportează greșeala</button>
        <%= image_tag "avatar.png", :class => "img-avatar pull-right", :alt => "user avatar", :title => "Adăugat de ???" %>
      </div>
    </script>
    <script type="text/javascript">
      var map_path = "<%= map_path %>";
      var points_path = "<%= points_path %>";
    </script>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if @wrapped %>
      <div id="wrap">
    <% end %>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>">reciclopedia<small>.ro</small></a>
        </div>
        <div class="navbar-collapse collapse">
          <form id="search" class="navbar-form navbar-left">
            <div class="form-group">
              <input id="city" class="form-control" type="text" placeholder="Oraș">
            </div>
            <button type="submit" class="btn btn-default">Caută</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li <%= if current_page?(:controller => "hello", :action => "map") then 'class="active"'.html_safe end %>>
              <%= link_to "Harta", map_path %>
            </li>
            <li <%= if current_page?(:controller => "points", :action => "new") then 'class="active"'.html_safe end %>>
              <%= link_to "Adaugă locație", add_path %>
            </li>
            <li <%= if current_page?(:controller => "hello", :action => "about") then 'class="active"'.html_safe end %>>
              <%= link_to "Despre", about_path %>
            </li>
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= image_tag "https://graph.facebook.com/" + current_user.uid + "/picture", :class => "img-avatar", :alt => "user avatar" %>
                  <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Deconectare", sign_out_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Autentificare", "/auth/facebook" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <% if @wrapped %>
      </div>
      <div id="footer">
        <div class="container">
          <p class="credit">
            <span class="pull-left">Powered by <a href="http://www.usetogether.com/">UseTogether.com</a></span>
            <span class="pull-right">a <a href="http://helpfulsheep.com/">helpful <%= image_tag "small-sheep.png", :alt => "small sheep" %> sheep</a> creation</span>
          </p>
        </div>
      </div>
    <% end %>

  </body>
</html>